/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            [
                path: { "${params.outdir}/fastqc" },
                mode: 'copy',
                pattern: "*.html"
            ]
        ]
    }

    withName: TRIMGALORE {
        ext.args = [
            '--fastqc',
            params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : ''
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/fastqc" },
                mode: 'copy',
                pattern: "*.{html,zip}"
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: 'copy',
                pattern: "*.txt"
            ]
        ]
    }

    withName: GUNZIP {
        publishDir = [
            enabled: false
        ]
    }
    withName: GUNZIP_GFFS {
        publishDir = [
            enabled: false
        ]
    }

    withName: FIRST_CAT {
        publishDir = [
            enabled: false
        ]
    }

    withName: SECOND_CAT {
        publishDir = [
            path: { "${params.outdir}/concatenate" },
            mode: 'copy',
            pattern: '*.gz'
        ]
    }
    withName: 'BAM_SORT_STATS_SAMTOOLS:*' {
        publishDir = [
            enabled: false
        ]
    }
    withName: PROKKAGFF2TSV {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: params.publish_dir_mode,
            pattern: "*.prokka-annotations.tsv.gz"
        ]
    }

    withName: 'GENOMEINDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMPLES_SKETCH' {
        ext.args = "rna --param-string k=${params.ksize}"
    }

    withName: 'GENOMES_SKETCH' {
        ext.args = "rna --param-string k=${params.ksize}"
    }

    withName: 'SOURMASH_GATHER' {
        ext.args = '--threshold-bp "50"'
    }

    withName: 'SOURMASH_INDEX' {
        ext.args = "--ksize ${params.ksize}"
    }

    withName: 'GINDEX_CAT' {
        publishDir = [
            path: { "${params.outdir}/concatenate" },
            mode: 'copy',
            pattern: '*.gz'
        ]
    }

    withName: BBMAP_ALIGN {
        ext.args = { "trimreaddescriptions=t pigz=t minid=${params.bbmap_minid}" }
        publishDir = [
            [
                path: { "${params.outdir}/bbmap/bam" },
                mode: 'copy',
                pattern: "*.bam",
                enabled: params.save_bam
            ],
            [
                path: { "${params.outdir}/bbmap/logs" },
                mode: 'copy',
                pattern: "*.log"
            ]
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: '.*:FEATURECOUNTS' {
        ext.args = '-g ID -t CDS -F gtf'
        publishDir = [
            path: { "${params.outdir}/featurecounts" },
            mode: 'copy',
            pattern: "*.featureCounts.*"
        ]
    }

    withName: COLLECT_FEATURECOUNTS {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: COLLECT_STATS {
        publishDir = [
            path: { "${params.outdir}/summary_tables" },
            mode: 'copy'

        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
