/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/magmap -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // Input data
    input             = 'https://raw.githubusercontent.com/nf-core/test-datasets/magmap/samplesheets/samplesheet.csv'
    //indexes         = 'https://osf.io/py92w/download'
    indexes           = 'https://github.com/nf-core/test-datasets/raw/magmap/testdata/sourmash_test.index.sbt.zip'
    genomeinfo        = 'https://github.com/nf-core/test-datasets/raw/magmap/testdata/genometest.csv'
    ncbi_genome_infos = 'https://github.com/nf-core/test-datasets/raw/magmap/testdata/ncbi_assembly_summaries.txt'

    // Sourmash option
    sourmash       = true
}
