/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/magmap -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for sourmash mixed with a local genome'
    config_profile_description = 'Minimal test dataset to check pipeline function with Sourmash subsetting enabled'

    // Input data
    input               = params.pipelines_testdata_base_path + 'magmap/samplesheets/archaeal_duplicate_genomes_per_species.csv'
    indexes             = params.pipelines_testdata_base_path + 'magmap/testdata/archaeal_duplicates.index.sbt.zip'
    genomeinfo          = params.pipelines_testdata_base_path + 'magmap/testdata/archaeal_duplicates.genomes.csv'
    sourmash_ksize      = 31
    features            = 'tRNA,rRNA'
    gtdb_metadata       = "https://data.gtdb.aau.ecogenomic.org/releases/release226/226.0/ar53_metadata_r226.tsv.gz"
    checkm_metadata     = params.pipelines_testdata_base_path + 'magmap/testdata/archaeal_duplicates.checkm.tsv,' + params.pipelines_testdata_base_path + 'magmap/testdata/archaeal_duplicates.checkm2.tsv'
    gtdbtk_metadata     = params.pipelines_testdata_base_path + 'magmap/testdata/archaeal_duplicates.gtdbtk.tsv'

    // Sourmash option
    skip_sourmash       = false
    skip_trimming       = true
}
